.parallax-container>.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.parallax-container>.heading-container *{
  color: #fefefe;
}
.parallax-container>.heading-container .fixed{
  padding: 0 4rem;
}

.parallax-container>.heading-container h1 {
  width: 100%;
  margin: 0;
  text-align: center;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1rem;
}

.parallax-container{
  padding-top: 64px;  /*  nav-height */
}

@media only screen and (max-width: 601px){
  .parallax-container{
    padding-top: 56px;  /*  nav-height */
  }
  .parallax-container>.heading-container h1{
    font-size: 3rem;
    letter-spacing: 5px;
  }
}

.open-cart-overlay{
  background-color: black;
}

.tea-template.header{
  height: 200vh;
}
